---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% for publication in site.publications %}
  <div class="publication">
    {{ publication.content | markdownify }}
  </div>
{% endfor %}

{% if site.author.googlescholar %}


  {% assign sorted_publications = site.posts | sort: 'date' %}
  {% assign publications_by_year = {} %}

  {% for post in sorted_publications %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if publications_by_year[year] %}
      {% assign publications_by_year[year] = publications_by_year[year] | push: post %}
    {% else %}
      {% assign publications_by_year[year] = [post] %}
    {% endif %}
  {% endfor %}

  {% for year, posts in publications_by_year %}
    <p style="font-size: 15px;"><strong>{{ year }}</strong></p>
    <ul style="margin-left: 0; padding-left: 18px;">
      {% for post in posts %}
        <li>
          <p style="font-size: 15px; margin: 0 0;">[{{ post.type }}] {{ post.authors }}. {{ post.title }}. In {{ post.journal }}. 
          {% if post.doi %}
            <a href="{{ post.doi }}">[doi]</a>
          {% endif %}
          </p>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endif %}
