---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
	<p style="font-size: 15px;" >(*=Corresponding author, J=Journal articles, C=Conference papers/posters)</p>
	<p><strong>BOOKS</strong></p>
	<p style="font-size: 15px;" >李蕾著. 学术型社会化问答平台上答案质量评估研究. 北京：科学技术文献出版社，2020.12</p>
	<p><strong>BOOK CHAPTERS</strong> </p>
	<p style="font-size: 15px;" >Kun Huang, Lei Li, Shi Chao Luo, and Xiao Yu Wang. "Difficulties of Vulnerable Groups in Accessing the Public Information Service During COVID-19 Pandemic in China." In Social Vulnerability to COVID-19: Impacts of Technology Adoption and Information Behavior, pp. 89-106. Cham: Springer International Publishing, 2023. </p>
	<p><strong>ARTICLES</strong></p>
	{% for paper in site.publications %}
		{% if paper.papers %}
			{% for item in paper.papers %}
				<p style="font-size: 15px;"><strong>{{ item.year }}</strong></p>
				<ul style="margin-left: 0; padding-left: 18px;">
				{% for entry in item.entries %}
					<li>
					<p style="font-size: 15px; margin: 0 0;">
						{{ entry.type }} {{ entry.authors }}. {{ entry.title }}. {{ entry.venue }}. {{ entry.year }}.
						{% if entry.issue %}
						{% if entry.pages %}
						{{ entry.issue }}{% else %}{{ entry.issue }}. {% endif %}{% endif %}
						{% if entry.pages %}
						{{ entry.pages }}. 
						{% endif %}
						{% if entry.doi %}
						<a href="{{ entry.doi }}">[doi]</a>
						{% endif %}
					</p>
					</li>
				{% endfor %}
				</ul>
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endif %}