---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <p style="font-size: 15px;" >(*=Corresponding author, J=Journal articles, C=Conference papers/posters)</p>
  <p><strong>BOOKS</strong></p>
  <p style="font-size: 15px;" >李蕾著. 学术型社会化问答平台上答案质量评估研究. 北京：科学技术文献出版社，2020.12</p>
  <p><strong>BOOK CHAPTERS</strong> </p>
  <p style="font-size: 15px;" >Kun Huang, Lei Li*, Shi Chao Luo, and Xiao Yu Wang. "Difficulties of Vulnerable Groups in Accessing the Public Information Service During COVID-19 Pandemic in China." In Social Vulnerability to COVID-19: Impacts of Technology Adoption and Information Behavior, pp. 89-106. Cham: Springer International Publishing, 2023. </p>
  <p><strong>ARTICLES</strong></p>
  <p style="font-size: 15px;"><strong>2014</strong></p>
  <li><p style="font-size: 15px;margin: 8px 0 8px 0;">[J03] 李蕾,章成志.社会化标注系统中用户标注动机差异分析.情报学报,2014,33(06):633-643.</p></li>
  <li><p style="font-size: 15px;margin: 8px 0 8px 0;">[C01] Lei Li, Chengzhi Zhang. Quality Evaluation of Social Tags according to Web Resource Types. In: Proceedings of the 23rd international conference on World Wide Web Companion (WebQuality2014). Seoul, Korea. ACM, 2014, 1123-1128.<a href="https://doi.org/10.1145/2567948.2578998">[doi]</a></p></li>



{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->


