---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<ul style="margin-left: 0; padding-left: 18px;">
<li><p>Management Information Systems (Spring 2020~, for undergraduates, MBA)</p></li>
<li><p>Social Computing (Spring 2023~, for undergraduates)</p></li>
<li><p>Information Research and Analysis (Spring 2023~, for master students)</p></li>
<li><p>Digital Government (Spring 2022~, for MPA)</p></li>
</ul>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
